<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="address">
    <div class="form-input">
      <%= form.label :postal_code, class: 'form-label' %>
      <%= form.number_field :postal_code,
                            { data: { action: 'change->address#getCities' },
                              class: 'form-control',
                              placeholder: 'Enter your postal code' }
      %>
    <div>

    <div class="form-input">
      <%= form.label :city, class: 'form-label' %>
      <%= form.select :city,
                      [],
                      { prompt: 'Select a city' },
                      { data: { address_target: 'citySelect', action: 'click->address#getStreets blur->address#getStreets' },
                        class: 'form-select' }
      %>
    <div>

    <div class="form-input">
      <%= form.label :street, class: 'form-label' %>
      <%= form.select :street,
                      [],
                      { prompt: 'Select a street' },
                      { data: { address_target: 'streetSelect' },
                        class: 'form-select' } %>
    <div>
  </div>

  <div class="form-input">
    <%= form.label :country, class: 'form-label' %>
    <%= form.select :country, @countries, {}, { class: 'form-select' } %>
  <div>

  <div class="form-submit">
    <%= form.submit %>
  </div>
<% end %>
